<div style="padding: 10px;height: auto;float: left;">
  <h1>
    <%= t(:please_accept_or_decline_the_invitation_sent_by) %> <b> <%= @invite.user.user_profile.name %> </b>
  </h1>
  <div style="float: left; width: 100%;float: left;padding: 20px;">
    "<%= @invite.message %>"
  </div>
  <div style="float: left; width: 40%;text-align: center;float: left;margin-top: 20px;margin-bottom: 20px;">
    <%= link_to t(:accept_invitation), accept_invitation_path(@invite.code), :class => 'actionize' %>
  </div>
  <div style="float: left; width: 40%;text-align: center;float: left;margin-top: 20px;margin-bottom: 20px;">
    <%= link_to t(:decline_invitation), decline_invitation_path(@invite.code), :class => 'actionize' %>
  </div>
</div>