<div class="middle-center-col-register">

<div style="font-size: 12px;text-align: left;">

  <h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <div class="bio-detials-register">
  <%= devise_error_messages! %>
  </div>
  <div class="bio-detials-register">  <%= f.label :roles %></div>

  <div class="bio-detials-register">
<% @roles.each do |rt| %>
      <%= radio_button_tag :role, rt.id, @role.nil? ? false : @role.id == rt.id ? true : false %>
      <%= label_tag :role, rt.name %>
    <% end %>
  </div>

  <%= fields_for :user_profile do |up| %>
    <div class="bio-detials-register">  <%= up.label :band_name %></div>
    <div class="bio-detials-register"> <%= up.text_field :band_name %> </div>
    <div class="bio-detials-register">  <%= up.label :organization %></div>
    <div class="bio-detials-register"> <%= up.text_field :organization %> </div>
  <%end%>
    <div class="bio-detials-register">  <%= f.label :instruments %></div>
    <div class="bio-detials-register">
      <% Instrument.all.each do |i| %>
      <%= check_box_tag :instrument %>
      <%= label_tag :instrument, i.name %>  
    <% end %> </div>
    <div class="bio-detials-register">  <%= f.label :Genres %></div>
    <div class="bio-detials-register">
      <% Genre.all.each do |g| %>
      <%= check_box_tag :genre %>
      <%= label_tag :genre, g.name %>
    <% end %> </div>
    <div class="bio-detials-register">  <%= f.label :Businesses %></div>
      <div class="bio-detials-register">
        <% Business.all.each do |b| %>
          <%= check_box_tag :business %>
          <%= label_tag :business, b.name %>
        <% end %> </div>

   <div class="bio-detials-register">  <%= f.label :first_name %></div>
   <div class="bio-detials-register"> <%= f.text_field :first_name %> </div>
    
    <div class="bio-detials-register">  <%= f.label :last_name %></div>
    <div class="bio-detials-register"> <%= f.text_field :last_name %> </div>

    <div class="bio-detials-register">  <%= f.label :email %></div>
    <div class="bio-detials-register"> <%= f.text_field :email %> </div>

    <div class="bio-detials-register">  <%= f.label :password %></div>
    <div class="bio-detials-register"> <%= f.text_field :password %> </div>

    <div class="bio-detials-register">  <%= f.label :password_confirmation %></div>
    <div class="bio-detials-register"> <%= f.text_field :password_confirmation %> </div>

    
  <%= fields_for :user_profile do |up| %>

    <div class="bio-detials-register">  <%= up.label :country %></div>
    <div class="bio-detials-register"> <%= up.select :country, options_from_collection_for_select(Country.all, "id", "code", Country.find_by_code("US").id) %> </div>

    <div class="bio-detials-register">  <%= up.label :postal_code %></div>
    <div class="bio-detials-register"> <%= up.text_field :postal_code%> </div>

    <div class="bio-detials-register">  <%= up.label :phone %></div>
    <div class="bio-detials-register"> <%= up.text_field :phone%> </div>

    <div class="bio-detials-register">  <%= up.label :picture %></div>
    <div class="bio-detials-register"> <%= up.file_field :picture%> </div>

    <div class="bio-detials-register">  <%= up.label :about_us %></div>
    <div class="bio-detials-register"> <%= up.text_area :about_us, :cols => 34, :rows => 10%> </div>
    
    <div class="bio-detials-register">  <%= up.label :referred_by %></div>
    <div class="bio-detials-register"> <%= up.text_field :referred_by%> </div>

  <%end%>

  <div class="bio-detials-register"><%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>
</div>