<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <%= f.label :roles %><br />
    <% @roles.each do |rt| %>
      <%= radio_button_tag :role, rt.id, @role.nil? ? false : @role.id == rt.id ? true : false %>
      <%= label_tag :role, rt.name %>
    <% end %></p>

  <%= fields_for :user_profile do |up| %>
  <p><%= up.label :band_name %><br />
    <%= up.text_field :band_name %></p>

  <p><%= up.label :organization %><br/>
    <%= up.text_field :organization %></p>

  <%end%>

  <p>
    <%= f.label :instruments %><br />
    <% Instrument.all.each do |i| %>
      <%= check_box_tag :instrument %>
      <%= label_tag :instrument, i.name %>
    <br/>
    <% end %>
  </p>

  <p>
    <%= f.label :genres %><br />
    <% Genre.all.each do |g| %>
      <%= check_box_tag :genre %>
      <%= label_tag :genre, g.name %>
    <br/>
    <% end %>
  </p>

  <p>
    <%= f.label :businesses %><br />
    <% Business.all.each do |b| %>
      <%= check_box_tag :business %>
      <%= label_tag :business, b.name %>
    <br/>
    <% end %>
  </p>

  <p><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></p>
  <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
    <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></p>


  <%= fields_for :user_profile do |up| %>

  <p><%= up.label :country %><br />
    <%= up.select :country, options_from_collection_for_select(Country.all, "id", "code", Country.find_by_code("US").id) %></p>
  
  <p><%= up.label :postal_code %><br />
    <%= up.text_field :postal_code %></p>

  <p><%= up.label :phone %><br />
    <%= up.text_field :phone %></p>

   <p><%= up.label :picture %><br />
    <%= up.file_field :picture %></p>

  <p><%= up.label :about_us %><br/>
    <%= up.text_area :about_us %></p>

  <p><%= up.label :referred_by %><br/>
    <%= up.text_field :referred_by %></p>
  
  <%end%>
  
  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
