<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musociety</title>


    <%= stylesheet_link_tag "application", "jquery.ui" %>
    <%= javascript_include_tag 'jquery-1.5.2.min','jquery-validate-basic.js', 'jquery-ui-1.8.11.custom.min', 'application', 'http://maps.google.com/maps/api/js?sensor=false', 'rails', 'custom/geocomplete', 'custom/institution.js' %>
    <%= raw(GMap.header) %>
    <%= raw(@map.to_html) if @map %>
    <%= javascript_include_tag 'swfobject' %>
    <%= javascript_include_tag 'jwplayer' %>

    <%= yield :audio_player %>

    <%= csrf_meta_tag %>

  </head>

  <body class="home-bg-green">

    <!-- cont -->
    <div class="cont header-bg">

      <div class="wrapper">        
        <%= render 'layouts/header' %>
        <p style="color: green"><%= notice %></p>
        <p style="color: red"><%= alert %></p>
        <%= yield %>

      </div>
    </div>
    <!-- /cont -->

    <%= render 'layouts/footer' %>
  </body>
</html>

